In [42]:
## DataTypes
#### 1. Definition:

'''- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.'''

#### 2. Importance of Data Types in Programming
'''Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.'''

'Explanation:\n\n- Data types ensure that data is stored in an efficient way.\n- They help in performing correct operations on data.\n- Proper use of data types can prevent errors and bugs in the program.'

In [40]:
## Outline:
'''1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples'''

'1. Introduction to Data Types\n2. Importance of Data Types in Programming\n3. Basic Data Types\n   - Integers\n   - Floating-point numbers\n   - Strings\n   - Booleans\n4. Advanced Data Types\n   - Lists\n   - Tuples\n   - Sets\n   - Dictionaries\n5. Type Conversion\n6. Practical Examples'

In [4]:
## integer
age = 19
type(age)

int

In [6]:
## floating point datatype
height = 5.11
print(type(height))

<class 'float'>

In [8]:
## string datatype 

name = "smeha"
print(name)
print(type(name))

smeha
<class 'str'>

In [12]:
## boolean datatype

True
type(True)

bool

In [14]:
is_True = True
type(is_True)

bool

In [18]:
is_true = bool()
is_true

False

In [20]:
bool()

False

In [24]:
a = 10
b = 10
a==b
type(a==b)

bool

In [26]:
## common error

In [30]:
result = "hello" + 5
result

TypeError: can only concatenate str (not "int") to str

In [32]:
result = "hello" + '5'
result

'hello5'

In [34]:
result = "hello" + str(5)
result

'hello5'

In [ ]:
str = "hello"
str.