## Variables
variables are fundamental elements in programming used to store data that can be refernced and manipulated in a program.
In python , varibles are created when you assign a value to them,and they do not need explicit declaration to reserve memory space.
The declarartion happens automatically when you assign a value to a varibale

Outline:
. introduction to variables
. declaring ans assigning variables
. naming conventions
.undestanding variable types
.type checking and conversion
.dynamic typing

In [5]:
a = 100
## created a varible a and assign a value to 100

In [ ]:
varible - string,float,integer

In [5]:
## declaring and assigning varible

age = 21
height = 5.1
name = "sneha"
is_student = True
## printing the variable

print("age:",age)
print("height:",height)
print("name:",name)

age: 21
helloheight: 5.1
name: sneha

In [ ]:
## naming convention (most imp)
## variable names should be descriptive
## they must start with a letter or an "_" 
## contain letter,number and underscores
## variables names are case sensitive
## valid variable names

first_name = "sneha"
last_name  = "dammani"

In [7]:
## invalid varible name
2age=30

SyntaxError: invalid decimal literal (4057899776.py, line 2)

In [9]:
first-name = "sneha"
# = this symbol is not being used

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1888360690.py, line 1)

In [11]:
@name = "hello"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1329184711.py, line 1)

In [15]:
## case sensitivity
name = "sneha"
Name = "Sneha"

name = Name

In [17]:
## understanding variable type 
## python is dynamicaaly types,types of a varibale is determined at runtime
age = 25 # int

In [19]:
height = 4.1
# float
name = "sneha" # str
is_student = true # boolean

NameError: name 'true' is not defined

In [23]:
## type checking and conversion
type(height)

float

In [27]:
## convert 1 datatype to another
age = 25
print(type(age))

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

age = "25"
print(type(int(age)))

In [36]:
name = "sneha"
int(name)
##

ValueError: invalid literal for int() with base 10: 'sneha'

In [42]:
height = 6.11
type(height)
int(height)

6

In [44]:
float(int(height))

6.0

In [46]:
## dyanamic typing 
## python allows the type of a variable to cahnge as the program executes

In [48]:
var = 10
print(var,type(var))

var = "hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [52]:
## input

age = input("what is the age:")
print(age,type(age))

what is the age: 45

45 <class 'str'>